.abril{
    font-family: 'Abril Fatface', cursive;

}

.aclonica{
    font-family: 'Aclonica', sans-serif;

}

.adamina{
    font-family: 'Adamina', serif;


}

.akaya{
    font-family: 'Akaya Telivigala', cursive;

}

.anton{
    font-family: 'Anton', sans-serif;


}
.barlow{
    font-family: 'Barlow Condensed', sans-serif;

}


.balsamiq{
    font-family: 'Balsamiq Sans', cursive;

}

.bitter{
    font-family: 'Bitter', serif;

}
.dot{
    font-family: 'DotGothic16', sans-serif;
}

.bebas{
    font-family: 'Bebas Neue', cursive;


}

.cabin{
    font-family: 'Cabin', sans-serif;
}


.pacifico{
    font-family: 'Pacifico', cursive;

}


.coda{
    font-family: 'Coda Caption', sans-serif;

}

.delius{
    font-family: 'Delius Swash Caps', cursive;


}

.krona{
    font-family: 'Krona One', sans-serif;

}

.oi{
    font-family: 'Oi', cursive;

}

.pathway{
    font-family: 'Pathway Gothic One', sans-serif;


}

.poppins{
    font-family: 'Poppins', sans-serif;


}


.raleway{
    font-family: 'Raleway', sans-serif;


}

.roboto{
    font-family: 'Roboto', sans-serif;


}

.rubik{
    font-family: 'Rubik', sans-serif;


}



/* #text.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
} */

#text .container{
    width: 100%
}

#text .container .row{
    width: 100%
}

#text .container .row .col{
    display: flex;
    justify-content: center;

}

.text-input{
    display: none;
}

.default-font{
    font-size: 1.55rem;
}

.text-label{
    padding: .6rem 1.3rem;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

}

.text-input:checked + .text-label{
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, .2);
    color: white;



}

.yusei{
    font-family: 'Yusei Magic', sans-serif;

}

.text-box{
    width: max-content;
    height: max-content;
    z-index: 30;
    position: fixed;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 40%;
    overflow: hidden
}

 .resizers{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  border: 3px dashed gray;
  box-sizing: border-box;
  
 }

.resizer{
    background-color: black;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 10;
    background: grey;
    border: 3px solid white;
    
}

.resizer-1{
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
}


.resizer-2{
    right: -5px;
    top: -5px;
    cursor: ne-resize;
}

.resizer-3{
    left: -5px;
    bottom: -5px;
    cursor: sw-resize;
}


.resizer-4{
    right: -5px;
    bottom: -5px;
    cursor: se-resize;
}




.text{

    display: flex;
    cursor: move;
    justify-content:center;
    align-items:center;
    font-size: 24px;
    color: red;
    margin: .5rem !important;
    position: relative;
    text-align: center;
    z-index: 10;

}

.text:focus{
    outline: none;
    border: none;
}



.text-character > * {
    margin-left: 1rem
}

.text-character{
    width: 100%;
    height: 5rem;
    background: black;
    align-items: center;
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    flex-direction: row !important;
    justify-content: flex-start !important;

}

.btn input[type=checkbox]{
    display: none;
}

.btn.btn-outline-secondary:hover{
    background-color: rgb(12, 10, 10)
}
.bold{
    font-weight: bold;
    color: white !important;
}

.italic{
    font-style: italic;
    color: white !important;
}

.underline{
    text-decoration: underline !important;
    color: white !important;
}