<input type='radio' id='b-w' class='effect-input' name='effect' disabled='disabled' value='b-w'>
<label for="b-w" class='effect-label disabled'  id='b-w'>
    Black and White
</label>
<input type='radio' id='sepia' class='effect-input' name='effect' disabled='disabled' value="sepia">
<label for="sepia" class='effect-label disabled' id='sepia'>
    Sepia Effect
</label>
<input type='radio' id='emboss' class='effect-input' name='effect' disabled='disabled' value="emboss">
<label for="emboss" class='effect-label disabled' id='emboss'>
    Emboss Effect
</label>
<input type='radio' id='warm' class='effect-input' name='effect' disabled='disabled' value="warm">
<label for="warm" class='effect-label disabled' id='warm'>
    Warm Effect
</label>
<input type='radio' id='water-color' class='effect-input' name='effect' disabled='disabled' value="water-color">
<label for="water-color" class='effect-label disabled' id='water-color'>
    Water Color Effect
</label>
<input type='radio' id='oil' class='effect-input' name='effect' disabled='disabled' value="oil">
<label for="oil" class='effect-label disabled' id='oil'>
    Oil Effect
</label>