<div class="container" id='frame'>
    <div class="frame-button">
        <label class='frame-label' for='1'>
            Border 1
        </label>
        <div class='frame-sample frame-border-1' id='frame-border-1'>
        </div>
    </div>
    <div class="frame-button">
        <label for="border-2" class='text-label border-2 frame-label'>
            Border 2
        </label>
        <div class='frame-sample frame-border-2' id='frame-border-2'>
        </div>
    </div>
    <div class="frame-button">
        <label for="border-3" class='text-label border-3 frame-label'>
            Border 3
        </label>
        <div class='frame-sample frame-border-3' id='frame-border-3'>
        </div>
    </div>
    <div class="frame-button">
        <label for="border-4" class='text-label border-4 frame-label'>
            Border 4
        </label>
        <div class='frame-sample frame-border-4' id='frame-border-4'>
        </div>
    </div>
</div>
