<select class='font-sizes' >
    <option  class='font-size' value="8" >8</option>
    <option  class='font-size' value="9">9</option>
    <option  class='font-size' value="10">10</option>
    <option  class='font-size' value="11">11</option>
    <option  class='font-size' value="12">12</option>
    <option  class='font-size' value="14">14</option>
    <option  class='font-size' value="16">16</option>
    <option  class='font-size' value="18">18</option>
    <option  class='font-size' value="20">20</option>
    <option  class='font-size' value="22">22</option>
    <option  class='font-size' value="24" selected>24</option>
    <option  class='font-size' value="26">26</option>
</select>

<input type="color"  class="font-color" value="#ff0000"/>
<div class="btn-group col-xs-12" data-toggle="buttons">
    <label for='bold' class="btn  btn-outline-secondary bold">
        <input type="checkbox" name="bold" id="bold" value="bold">B
    </label>
    <label for='italics' class="btn  btn-outline-secondary underline ">
        <input type="checkbox" name="underline" id="underline" value="underline">U
    </label>
    <label for='underline' class="btn  btn-outline-secondary italic">
        <input type="checkbox" name="italics" id="italics" value="italics">I
    </label>
</div>
<div class="btn-group text-transform" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" id='uppercase'>AA</button>
    <button type="button" class="btn btn-secondary" id='lowercase'>aa</button>
    <button type="button" class="btn btn-secondary"  id='capitalize'>Aa</button>
</div>
    

