<div class="row g-0 ">
    <div class="col">
        <input type='radio' id='abril' class='text-input' name='text-type' value="'Abril Fatface', cursive">
        <label for="abril" class='text-label abril default-font'>
            Text
        </label>
    </div>
    <div class="col">
        <input type='radio' id='aclonica' class='text-input' name='text-type' value="'Aclonica', sans-serif">
        <label for="aclonica" class='text-label aclonica default-font'>
            Text
        </label>
    </div>
</div>
<div class="row g-0">
    <div class="col">
        <input type='radio' id='dot' class='text-input' name='text-type' value="'DotGothic16', sans-serif">
        <label for="dot" class='text-label dot default-font'>
            Text
        </label>
    </div>
    <div class="col">
        <input type='radio' id='adamina' class='text-input' name='text-type' value="'Adamina', serif">
        <label for="adamina" class='text-label adamina default-font'>
            Text
        </label>
    </div>
</div>
<div class="row g-0">
    <div class="col">
        <input type='radio' id='rubik' class='text-input' name='text-type' value="'Rubik', sans-serif">
        <label for="rubik" class='text-label rubik default-font'>
            Text
        </label>
    </div>
    <div class="col">
        <input type='radio' id='akaya' class='text-input' name='text-type' value="'Akaya Telivigala', cursive">
        <label for="akaya" class='text-label akaya default-font'>
            Text
        </label>
    </div>
</div>
<div class="row g-0">
    <div class="col">
        <input type='radio' id='anton' class='text-input' name='text-type' value="'Anton', sans-serif">
        <label for="anton" class='text-label anton default-font'>
            Text
        </label>
    </div>
    <div class="col">
        <input type='radio' id='barlow' class='text-input' name='text-type' value="'Barlow Condensed', sans-serif">
        <label for="barlow" class='text-label barlow default-font'>
            Text
        </label>
    </div>
</div>
<div class="row g-0">
    <div class="col">
        <input type='radio' id='bitter' class='text-input' name='text-type' value="'Bitter', serif">
        <label for="bitter" class='text-label bebas default-font'>
            Text
        </label>
    </div>
    <div class="col">
        <input type='radio' id='balsamiq' class='text-input' name='text-type' value="'Balsamiq Sans', cursive">
        <label for="balsamiq" class='text-label balsamiq default-font'>
            Text
        </label>
    </div>
</div>
<div class="row g-0">
    <div class="col">
        <input type='radio' id='bebas' class='text-input' name='text-type' value="'Bebas Neue', cursive">
        <label for="bebas" class='text-label bebas default-font'>
            Text
        </label>
    </div>
    <div class="col">
        <input type='radio' id='cabin' class='text-input' name='text-type' value="'Cabin', sans-serif">
        <label for="cabin" class='text-label cabin default-font'>
            Text
        </label>
    </div>
</div>
<div class="row g-0">
    <div class="col">
        <input type='radio' id='coda' class='text-input' name='text-type' value="'Coda Caption', sans-serif">
        <label for="coda" class='text-label coda default-font'>
            Text
        </label>
    </div>
    <div class="col">
        <input type='radio' id='delius' class='text-input' name='text-type' value="'Delius Swash Caps', cursive">
        <label for="delius" class='text-label delius default-font'>
            Text
        </label>
    </div>
</div>
<div class="row g-0">
    <div class="col">
        <input type='radio' id='krona' class='text-input' name='text-type' value="'Krona One', sans-serif">
        <label for="krona" class='text-label krona default-font'>
            Text
        </label>
    </div>
    <div class="col">
        <input type='radio' id='oi' class='text-input' name='text-type' value="'Oi', cursive">
        <label for="oi" class='text-label oi default-font'>
            Text
        </label>
    </div>
</div>
<div class="row g-0">
    <div class="col">
        <input type='radio' id='pacifico' class='text-input' name='text-type' value="'Pacifico', cursive">
        <label for="pacifico" class='text-label pacifico default-font'>
            Text
        </label>
    </div>
    <div class="col">
        <input type='radio' id='poppins' class='text-input' name='text-type' value="'Poppins', sans-serif">
        <label for="poppins" class='text-label oi default-font'>
            Text
        </label>
    </div>
</div>
